.App {
  text-align: center;
  display: grid;
  grid-template-columns: 20% 1fr;
}

.nav-links {
  margin: 10px;
  color: black;
}

a {
  color: black;
}

a:visited {
  color: darkslategrey;
}

header {
  background-color:palevioletred;
  min-height: 100vh;
  padding: 10px;

}

@media (max-width: 700px) {
  .App {
    display: flex;
    flex-direction: column;
  }
  header {
    min-height: auto;
  }
  div {
    display: inline;
  }
  
}